git Wildcard info
- # - marks line as a comment
- * - matches 0 or more characters
- ? - matches 1 character
- [abc] - matches a, b, _or_ c
- ** - matches nested directories - a/**/z matches
--- a/z
--- a/b/z
--- a/b/c/z
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#add specific files
*.env
*txt
comparison_file.ejs

# adding star before a file extension ignores files with those extensions
#after adding gitignore run git rm -rf --cached to clear chache before pushing to GitHub

