<!--Embedded Javascript, commonly known as EJS. Basically, it is used in Nodejs while working in the Express framework. EJS works as a template engine that helps render Javascript code on the client-side-->

<!--include header-->
<%-include('include/_header')%>
    <!--/include header-->
    <!--Main Site-->
    <main id="site-main">
        <div class="container">
            <div class="box-mav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <!--need a library for icons can use font awesome cdn cdnjs.com-->
                    <span class="text-gradient">New User <i class="fas fa-user-shield"></i></span>
                </a>
            </div>
            <!--form handling-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%-include('include/_show')%>
                    </tbody>
                </table>
            </form>

        </div>
    </main>
    <!--/Main Site-->
    <!--include footer-->

    <!--/include footer-->